*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-image:linear-gradient( rgba(0,0,0,0), rgba(0,0,0,0.5)), url("./resources/469227.jpg");
    background-repeat:no-repeat;
    background-size:cover;
    background-attachment: fixed;
}
header {
    color: #fff;
    height: 100vh;
    display: flex;
    opacity: 0.9;
}
.left-part,
.nav{
    padding: 15px;
}
.left-part{
    margin: auto;
    width: 50%;
}
.nav{
    margin: 100px auto;
}
h1{
    font-size: 3.5em;
    color: #fff;
}
.left-part h1, 
.left-part p{
    text-shadow: 2px 2px 2px black
}
.btn{
    width: 150px;
    height: 50px;
    border-radius: 30px;
    background: #fff;
    color: #000 !important;
    margin-top: 100px;
    font-size: 24px;
    font-weight: 700;
    opacity: 0.5;
    margin-left: 70px;
}
.btn:hover{
    background: #fff;
    opacity: 1;
    transform: translateY(5px);
    font-size: 30px;
    transition: 0.2s ease-in;
}
nav ul li,
.btn,
.btnMap {
    display: flex;
    justify-content: center;
    align-items: center;
}
#btn1,
#btn3{
    margin-left: -55px;
}
#btn2{
    margin-left: 55px;
}
.btn-nav {
    width: 400px;
    height: 80px;
    margin: 15px 0;
    background: rgba(0,0,0,0.6);
    border-radius: 10px;
    font-size: 36px;
}
.btn-nav:hover{
    background: #000;  
    opacity: 0.9;
    transition: 0.2s ease-in;

}
.scr-2,
.scr-3,
.scr-4{
    padding: 150px 50px;
    background: rgba(255,255,255,0.7);
    justify-content: center;
    align-items: center;
}
main{
    background: linear-gradient(to right, rgba(0,0,0,0), rgba(0,0,0,0.1));
    margin: 0 20%; 
    scroll-behavior: smooth;  
}
 p{
    padding: 10px 100px;
    font-size: 1.5em;
    font-weight: 300;
}
h2 {
    padding: 25px;
    font-weight: bold;
    font-size: 3em;
    margin-left: -25px;
}
a{
    text-decoration: none;
}
.btn a,
.btnMap a{
    color:#000;
}
.btn-nav a{
    color: #fff;
}
.lines{
    display:flex;
    background: rgba(255,255,255,0.7);
}
.line{
    border-top: #000 dotted;
    width: 55%;
}
.line-2{
    height: 60px;
    background: #000;
    width: 6px;
    margin-top: -30px;
}

footer{
    height: 25px;
    background: #222;
}
.rev{
    transform: rotate(180deg);
}
.btnMap{
    width: 150px;
    height: 50px;
    border-radius: 30px;
    background: rgb(100, 109, 236);
    color: #000 !important;
    font-size: 18px;
    font-weight: 700;
    margin: 50px 0;
}
.scr-4{
    display:flex;
}
.map-box{
    margin-top: 150px;
    margin-bottom: 150px;
}
img{
    width: 100%;
}
@media only screen and (max-width: 1000px) {
  .scr-2,  .scr-3,  .scr-4 {
    margin: 0;
  }
  p{
      padding: 15px 0;
  }
  h2{
    font-size :2em ;}
  p{
    font-size : 1em ;}
  header,
  .scr-4{
    display: block ;
  }
  #btn1, #btn2,#btn3{
    margin: 10px auto;
    }    

}
